/* Estilos */

/* GENERALES */

body {
    background-color: black;
    color: grey;
    padding: 0rem 1rem;
}

/* TITULOS */

h1,h2 {
    text-align: center;
}

h2 {
    padding-bottom: 3rem;
}

h3 {
    padding: 3rem 0rem 1rem 0rem;
}

h4 {
    padding: 3rem 0rem 4rem 0rem; 
} 

ul {
    padding: 1rem 0rem 1rem 0rem;
    margin: 0rem 5rem;
}

/* DIVS */

.ingreso {
    display: flex;
    align-content: center;
    justify-content: center;
}

#formulario {
    height: 300px;
    width: 400px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

/* BOTONES */

.buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 2em 5em;
}

#buttonsForm {
    text-align: center;
    word-spacing: 10px;
}

.iText {
    background-color: grey;
    color: black;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
}

.iNumber {
    background-color: grey;
    color: black;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
}

.utilidades {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

.utilidades form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boton {
    min-width: 115px;
    height: 30px;
    color: black;
    padding: 5px 10px;
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: darkgrey;
    box-shadow: 0 5px grey;
}

.boton:hover {
    box-shadow: 0 3px grey;
    top: 1px;
}

.boton:active {
    box-shadow: 0 0 grey;
    top: 5px;
  }

